* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  overflow-x: hidden;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-text-stroke: 0.4px rgba(0, 0, 0, 0.1);
  text-rendering: optimizeLegibility; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.container {
  width: 1170px;
  margin: 0 auto; }

.header {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.24);
  font-weight: 700;
  font-family: "Gentium Book Basic", sans-serif;
  position: fixed;
  width: 100%;
  z-index: 9999;
  -webkit-transition: background-color .3s,min-height .3s,-webkit-box-shadow .3s;
  transition: background-color .3s,min-height .3s,-webkit-box-shadow .3s;
  -o-transition: background-color .3s,min-height .3s,box-shadow .3s;
  transition: background-color .3s,min-height .3s,box-shadow .3s;
  transition: background-color .3s,min-height .3s,box-shadow .3s,-webkit-box-shadow .3s; }

.header_min {
  background: rgba(0, 0, 0, 0.87); }

.logo2 {
  display: none; }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav-link:hover {
  cursor: pointer; }
  .nav-link:hover::before {
    opacity: 1;
    width: 100%;
    -webkit-transition: background .3s,width .3s;
    -o-transition: background .3s,width .3s;
    transition: background .3s,width .3s;
    background: #fff; }

.nav-link {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  line-height: 24px;
  display: block;
  font-weight: bold;
  font-size: 1.313rem;
  color: white;
  padding-left: 20px;
  padding-right: 20px; }
  .nav-link::before {
    content: "";
    background: #fff;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    opacity: 0; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 6rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 190px; }
  .main-text_home {
    padding-top: 220px; }
  .main-text p {
    line-height: 115px;
    color: rgba(255, 255, 255, 0.84);
    font-family: "Yeseva One", sans-serif; }
  .main-text_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 458px;
    font-size: 1rem;
    margin-bottom: 120px; }

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px; }

.socials-item {
  margin-left: 15px;
  margin-right: 15px; }
  .socials-item a {
    color: #fff;
    font-size: 0.875rem; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.250rem; }
  .btn a {
    display: block;
    text-align: center;
    color: #fff;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    padding: 15px 40px;
    -webkit-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
    transition: all 0.1s ease 0s; }

.btn1 a {
  border: 1px solid white; }
  .btn1 a:hover {
    color: silver; }

.btn2 a {
  background: rgba(0, 0, 0, 0.64); }
  .btn2 a:hover {
    background: rgba(0, 0, 0, 0.54); }

.section-white {
  width: 100%;
  min-height: 707px;
  background-image: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0%; }
  .section-white_content {
    position: relative;
    width: 487px;
    padding: 15px;
    padding-top: 80px;
    text-align: center; }

.pasta::after {
  display: block;
  content: '';
  background: url(../images/pasta-sample.png);
  background-size: cover;
  position: absolute;
  height: 563px;
  top: 0px;
  left: 505px;
  width: 600px; }

.pasta-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px; }

.section-title {
  color: #cc9900;
  line-height: 54px;
  font-weight: 400; }

.white {
  color: #fff;
  color: rgba(255, 255, 255, 0.84);
  margin-top: 20px; }

h2 {
  font-family: "Yeseva One", sans-serif;
  font-size: 2.250rem; }

.section-text {
  font-family: "Lato", sans-serif;
  color: #51575b;
  font-size: 1rem;
  line-height: 27px; }

.plate::before {
  display: block;
  content: '';
  background: url(../images/sample-plate.png);
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 500px;
  height: 630px;
  width: 637px; }

.section-one {
  width: 100%;
  min-height: 499px;
  background: transparent; }

.one-home {
  min-height: 764px; }

.section-two {
  position: relative;
  min-height: 707px;
  background: transparent; }

.section-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 612px;
  background: transparent; }

.section-four {
  position: relative;
  min-height: 563px; }

.section-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 589px;
  background: transparent; }

.section-black {
  text-align: center;
  width: 555px;
  min-height: 412px;
  background-color: rgba(0, 0, 0, 0.69);
  padding: 15px; }
  .section-black_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; }
  .section-black_text {
    font-family: "Lato", sans-serif;
    color: #fff;
    font-size: 1rem;
    line-height: 1.688rem;
    margin: 0 0 11.5px; }

.black-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section-six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 657px;
  background: url("../images/bg4.jpg") no-repeat;
  background-size: cover; }
  .section-six_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .section-six_images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 69%;
    margin-top: 80px; }
    .section-six_images img {
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }

.white-right {
  width: 68%; }

.slider {
  width: 750px;
  min-height: 389px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: none !important; }
  .slider-elem:focus {
    outline: none; }
  .slider-text {
    position: relative;
    width: 88%;
    text-align: center;
    font-family: "Gentium Book Basic", sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    line-height: 2.250rem;
    color: #fff;
    margin: 20px auto 20px auto; }
    .slider-text::before {
      content: "\201C";
      display: block;
      font-family: Georgia;
      line-height: 1;
      position: absolute;
      left: -7%;
      top: 4px;
      color: rgba(255, 255, 255, 0.7);
      font-size: 57px;
      font-style: normal; }
    .slider-text_author {
      font-family: "Lato", sans-serif;
      font-size: 0.875rem;
      color: rgba(255, 255, 255, 0.84); }
      .slider-text_author::before {
        content: '\2014 \00A0'; }

.slider-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.slider-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 20px 0 0px 0; }

.to-book_form {
  width: 100%;
  color: #51575b;
  font-family: "Lato", sans-serif;
  font-weight: 700; }

.book-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 45%; }
  .book-input input {
    height: 36px;
    background-color: rgba(0, 0, 0, 0.02);
    color: #3c3c3c;
    border-color: rgba(0, 0, 0, 0.1);
    outline: none;
    border: 1px solid #ccc;
    padding: 6px 16px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    font-family: "Lato", sans-serif; }
    .book-input input::-webkit-input-placeholder {
      font-size: 1rem;
      color: #c1c1c1;
      opacity: 2%; }
    .book-input input:-moz-placeholder {
      font-size: 1rem;
      color: #c1c1c1;
      opacity: 2%; }
    .book-input input::-moz-placeholder {
      font-size: 1rem;
      color: #c1c1c1;
      opacity: 2%; }
    .book-input input:-ms-input-placeholder {
      font-size: 1rem;
      color: #c1c1c1;
      opacity: 2%; }
  .book-input span {
    margin-bottom: 5px; }

.select {
  font-size: 1rem;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.02);
  color: #3c3c3c;
  border-color: rgba(0, 0, 0, 0.1);
  outline: none;
  border: 1px solid #ccc;
  padding: 6px 16px;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  font-family: "Lato", sans-serif; }

.form-button {
  margin-top: 60px; }

.form-btn {
  padding: 10px 24px;
  font-size: 1.250rem;
  line-height: 1.688rem;
  background-color: #c90;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 400; }
  .form-btn:hover {
    background-color: #a37a00; }
  .form-btn:focus {
    background-color: #bf2718;
    border-color: #64150c; }

.footer {
  min-height: 315px;
  background-color: #191919;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 64px; }
  .footer-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer-elem {
    width: 360px;
    text-align: center;
    font-weight: 400; }
    .footer-elem:nth-child(1) {
      width: 380px; }
    .footer-elem_title {
      font-family: "Yeseva One", sans-serif;
      color: #fff;
      font-size: 1.125rem;
      line-height: 1.688rem; }
    .footer-elem_text {
      font-family: "Lato", sans-serif;
      font-size: 1rem;
      line-height: 1.688rem;
      color: rgba(255, 255, 255, 0.6); }
      .footer-elem_text span {
        color: #fff;
        font-weight: 700; }
    .footer-elem_icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin-top: 32px;
      width: 55%;
      margin: 32px auto; }
      .footer-elem_icons a {
        color: white; }
        .footer-elem_icons a:hover {
          color: #3b9999; }

.gadgets-nav_wrap {
  display: none;
  width: 100%;
  background: black; }

.gadgets-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 65px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.open-nav {
  display: none;
  color: whitesmoke;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 42px;
  height: 34px; }

.menu-icon span {
  display: block;
  width: 100%;
  height: 6px;
  background-color: #fff;
  margin-bottom: 8px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.menu-icon.opened span:nth-child(2) {
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
  opacity: 0; }

.menu-icon.opened span:nth-child(1) {
  -webkit-transform: rotateY(180deg) rotateZ(45deg) translate(10px, 10px);
  transform: rotateY(180deg) rotateZ(45deg) translate(10px, 10px); }

.menu-icon.opened span:nth-child(3) {
  -webkit-transform: rotateY(180deg) rotateZ(-45deg) translate(10px, -10px);
  transform: rotateY(180deg) rotateZ(-45deg) translate(10px, -10px); }

.menu-icon p {
  display: block;
  position: absolute;
  bottom: -25px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: #c51960;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.menu-icon.opened p.menu {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.menu-icon p.close {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.menu-icon.opened p.close {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  background-color: #fff;
  color: #f43684; }

.active {
  color: #c90 !important; }

.nav-gadgets {
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.24); }
  .nav-gadgets li {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px; }
  .nav-gadgets a {
    font-family: "Gentium Book Basic", sans-serif;
    font-weight: 700;
    font-size: 1.313rem;
    color: #cccccc;
    width: 100%;
    display: block; }
    .nav-gadgets a:focus {
      color: #c90; }

.section-slider_reservations {
  min-height: 414px;
  padding: 50px 0 50px 0; }

.slider-reserv {
  min-height: 254px; }

.six-reservations > .section-six_images {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

.six-reservations > .section-white_content {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.menu-main_one {
  min-height: 1216px; }

.menu-main_two {
  min-height: 678px; }

.menu-main_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 80px; }

.menu-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 548px; }

.menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 548px; }

.title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 18px;
  padding: 13px; }
  .menu-item_wrap {
    margin-left: 10px;
    width: 100%; }

.special-text {
  position: absolute;
  background-color: #c90;
  color: #fff;
  padding: 0 12px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  top: -25px;
  right: -1px; }

.special {
  border: 1px solid #cc9900;
  position: relative; }

.item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  font-family: "Yeseva One", sans-serif;
  color: #cc9900;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 27px; }

.item-title {
  font-weight: 400; }

.item-desc {
  font-weight: 400; }

.item-desc {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 27px;
  color: #51575b; }

.menu-special_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 303px;
  background: transparent; }

.menu-bottom {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.menu-item_img img {
  width: 60px;
  height: 60px;
  border-radius: 50%; }

.gallery {
  border-top: 1px solid black; }
  .gallery-item {
    margin-bottom: -4px;
    float: left; }
    .gallery-item img {
      max-width: 100%;
      height: auto; }

.size {
  width: 33.3%; }

.size > a {
  display: block;
  width: 100%;
  height: auto; }

.item-wrap {
  position: absolute;
  top: 0;
  bottom: 4px;
  right: 0;
  left: 0;
  background: black;
  opacity: 0;
  z-index: 200;
  overflow: hidden; }

.gallery-item:hover .item-wrap {
  opacity: .7;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.item-text {
  color: white;
  font-family: "Yeseva One", sans-serif;
  font-size: 1.125rem;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999; }

.row-2 {
  margin-top: 15px; }

.big-input {
  width: 100%;
  margin-bottom: 15px; }

.message textarea {
  min-height: 186px;
  text-indent: 10px;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.02);
  color: #3c3c3c;
  border-color: rgba(0, 0, 0, 0.1);
  outline: none;
  border: 1px solid #ccc;
  padding: 6px 16px;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  font-family: "Lato", sans-serif; }
  .message textarea::-webkit-input-placeholder {
    font-size: 1rem;
    color: #c1c1c1;
    opacity: 2%;
    font-weight: 400;
    font-family: "Lato", sans-serif; }
  .message textarea:-moz-placeholder {
    font-size: 1rem;
    color: #c1c1c1;
    opacity: 2%;
    font-weight: 400;
    font-family: "Lato", sans-serif; }
  .message textarea::-moz-placeholder {
    font-size: 1rem;
    color: #c1c1c1;
    opacity: 2%;
    font-weight: 400;
    font-family: "Lato", sans-serif; }
  .message textarea:-ms-input-placeholder {
    font-size: 1rem;
    color: #c1c1c1;
    opacity: 2%;
    font-weight: 400;
    font-family: "Lato", sans-serif; }

.contact-images {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: start;
  align-content: flex-start; }
  .contact-images img {
    margin: 10px; }

.contact-icon {
  position: absolute;
  color: #c90;
  font-size: 0.688rem;
  top: 12px;
  left: 9px; }

.contact-black {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .contact-black .section-black {
    width: 750px; }

.schedule-day {
  font-family: "Yeseva One", sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 1.125rem;
  color: rgba(255, 255, 255, 0.84); }

.contact-input input {
  padding: 6px 25px; }

.contact-button {
  margin-top: 0;
  padding-top: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media screen and (max-width: 1160px) {
  .container {
    width: 94%; } }

@media screen and (max-width: 990px) {
  .container {
    width: 94%; }
  .navigation {
    width: 108%;
    margin-left: -5%; }
  .margin-kill {
    margin-bottom: 0px !important; }
  .header {
    position: absolute;
    background: #191919; }
  .open-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .logo1 {
    display: none !important; }
  .logo2 {
    display: block !important; }
  .nav-list {
    display: none; }
  .header-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header-top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .socials {
    display: none; }
  .section-white_content {
    width: 100%; }
  .slider {
    width: 100%; }
  .section-six_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .section-six_images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .section-six_images img {
      margin-bottom: 20px;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s;
      max-width: 100%; }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .footer-elem {
    margin: 0 auto; }
  .plate::before {
    display: none; }
  .menu-main_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .menu-left {
    width: 100%; }
  .menu-right {
    width: 100%; }
  .menu-item_wrap {
    width: 100%; } }

@media screen and (max-width: 620px) {
  .footer-elem:nth-child(1) {
    width: 98%; }
  .size {
    width: 100%; }
  .footer-elem {
    width: 98%; }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main-text {
    font-size: 3rem; }
    .main-text P {
      line-height: 4rem; }
    .main-text_buttons {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .main-text .btn1 {
      margin-bottom: 20px; }
  .book-input {
    width: 100%; }
  .party-size {
    width: 100%; } }

@media screen and (max-width: 540px) {
  .slider-text_author {
    margin-bottom: 20px; }
  .slick-dots {
    bottom: 0px; } }
